/node_modules
/public/hot
/public/admin
/public/backend
/public/employee-image
/public/frontend
/public/image
/public/logo
/public/student
/public/upload
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
